[user]
	name = kotohata
	email = t.kotohata@gmail.com
[color]
	ui = true
[core]
	editor = /Applications/MacVim.app/Contents/MacOS/Vim

[merge "mergepbx"]
  name = XCode project files merge
  driver = mergepbx %O %A %B
